.web{
    
	margin-top:5%;
	
}
.web:hover{
	cursor:pointer;
}

.web_theory{
	display:none;
	margin-top:1%;
}
.webapp_theory{
	display:none;
	margin-top:1%;
}
.python_theory{
	display:none;
	margin-top:1%;
}

.data{
	display:none;
	margin-top:1%;
}


.git{
	display:none;
	margin-top:1%;
}
