#navb{
	background-color:#0000CD;
}

#name{
		float:right;
		/*background-color: red;*/
		text-align:center;
	}

/*#photos{

	background-color: green;
}*/


#img2{
	float:left;
}

/* doing image '.im' in center of/inside of div named '.cont' */  
.cont{
	display: flex;
}
.im{
	margin: auto;
	height:15%;
	width:15%;
}

.ima2{
	height:20%;
	width:20%;
}

.ima{
	height:15%;
	width:15%;
}
/* done image '.im' in center of/inside of div named '.cont' */  



@media only screen and (max-width:768px){
	#name{
		width:100%;
		/*background-color: blue;*/
	}

	#photos{
		display: flex;
		width: 100%;
		/*background-color: yellow;*/
	}

	#img2{
		 margin: auto;
		
	}

	.mail{
		margin-left: 5%;
	}
	.cont{
		width:50%;
		float: left;
		margin-bottom: 4%;
	}

	.im{
		height:20%;
		width:20%;
	}

	.co{
		
		width:50%;
		float:left;
		margin-bottom: 5%;
		
	}
	#coo{
		
		width:80%;
		float:left;
		margin-left :15%;
	}
	
#mail{
	margin-left:10%;
}
	
	
}
