body{
	background-image: url("http://devfloat.net/wp-content/uploads/2014/01/programmer-life.jpg");
	background-attachment: fixed;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-origin: content-box;
	 z-index:-1;
}

br{
	background-color:green;
}
/* fixing navbar on top */
nav.topbar{
   
    position: fixed;
    width: 100%;
    
    opacity: 0.7;
    z-index: 1;
    top: 0;
    left: 0;
}

.me{
	justify-content: center;
	text-align: center;
	align-items: center;
}
/* done fixing navbar on top */


#navb{
	background-color:#0000CD;
	
}

#first{
	margin-bottom :15%;
	
	padding-top: 5%;
	padding-bottom:5%;
}
#scrol{
	display: none;
	color:red;
	height: 15%;
	width: 5%;
	bottom: 0;
	right:0;
	position:fixed;
	cursor : pointer;


}

#profile{
	/*background-color:#E59866  ;*/
	/*border-radius: 25%; */           /* boder radius property*/
	border-radius: 25px; 
	border: 2px dotted #73AD21; /* border of size styled and color*/
	padding-top: 5%;
	padding-bottom:5%;
	opacity: 0.8;
}

#skills{
	

	border: 2px solid #73AD21;
	/*background-color: #F1948A  ;*/
	 border-radius: 15px 50px 30px 5px;
	padding-top: 5%;
	padding-bottom:5%;
}
#contact{
	border-radius: 25px;

	border: 2px solid #73AD21;
	/*background-color: #85929E  ;*/
	padding-top: 5%;
	padding-bottom:5%;
}

/* sliding two divs*/
#name{
		/*float:right;*/
		/*background-color: red;*/
      float:right;
		/*background-color: red;*/
		text-align:center;
	        color:#19D9F6
}
	


#img2{

       float:left;
     -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

}



#photos:hover{

opacity:.5;
}



/*#photos{

	background-color: green;
}*/



/* doing image '.im' in center of/inside of div named '.cont' */  
.cont{
	display: flex;
}
.contx{
	display: flex;
}
.im{
	margin: auto;
	border-radius: 25%; /* ecilipse model*/
	height:15%;
	width:15%;
	-ms-transition: 2s ease; 
    -webkit-transition: 2s ease; 
    transition: 2s ease;

}

.im:hover{
	-ms-transform: rotateY(360deg); 
    -webkit-transform: rotateY(360deg); 
    transform: rotateY(360deg);
}

.imm{
	margin: auto;
	border-radius: 25%; 
	height:25%;
	width:25%;
}

.imm2{
	margin: auto;
	border-radius: 25%; 
	height:30%;
	width:30%;
}
.imm21{
	margin: auto;
	border-radius: 25%; 
	height:25%;
	width:25%;
}
.ima2{
	height:20%;
	width:20%;
}

.ima{
	height:15%;
	width:15%;
}
/* done image '.im' in center of/inside of div named '.cont' */  

.me{
	font-family: monospace;
	color: #4169E1;
	font-size: 40px;
}

#java{
	height:10%;
	width: 10%;
}



.pho{
	color:red;
}



@media only screen and (min-width:1281px){


			#name{
						/*float:right;*/
						/*background-color: red;*/
				       text-align:center;
				       color:#19D9F6;
				       position:absolute;
				       left: 30%;
				       -webkit-transition: left 2s linear;
				       transition: left 2s linear;
					/*float:left;*/
			}
	


				#img2{

				       position:absolute;
				       right:30%;
				       -webkit-transition: right 2s linear;
				       transition: right 2s linear;
				       -webkit-border-radius: 50%;
				    -moz-border-radius: 50%;
				    -ms-border-radius: 50%;
				    -o-border-radius: 50%;
				    border-radius: 50%;
					/*float:left;*/
				}


}



@media only screen and (max-width:768px){
	#first{
		margin-top:10%;
	}
	#name{
		width:100%;
		/*background-color: blue;*/
	}

	#photos{
		display: flex;
		width: 100%;
		/*background-color: yellow;*/
	}

	#img2{
		 margin: auto;
		
	}

	.mail{
		margin-left: 5%;
	}
	.cont{
		
		width:50%;
		float: left;
		margin-bottom: 4%;
	}

	#scrol{
	display: none;
	color:red;
	height: 15%;
	width: 10%;
	bottom: 0;
	right:0;
	position:fixed;
	cursor : pointer;
	

}


	.im{
		height:20%;
		width:20%;
	}

	.co{
		
		width:50%;
		float:left;
		margin-bottom: 5%;
		
	}
	#coo{
		
		width:80%;
		float:left;
		margin-left :12%;
	}

	#imma{
		height:5%;
		width:5%;
	}
	
#mail{
	margin-left:10%;
}
.contx{
	display: flex;
}
.imm21{
	margin: auto;
}
	#java{
	height:20%;
	width: 20%;
}

	

}
